@model Administrator.Models.ProfessorViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProfessorViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" class="form-control" readonly="readonly" name="fullName" value="@ViewBag.fullName"/>
                @Html.ValidationMessageFor(model => model.fullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" class="form-control" readonly="readonly" name="email" value="@ViewBag.email" />
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" class="form-control" name="username" value="@ViewBag.username" />
                @Html.ValidationMessageFor(model => model.username)
                <p style="color:darkred">@ViewBag.ErrorUsername</p>
                <p style="color:darkred">@ViewBag.ThongBao</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="password" class="form-control" name="password" value="@ViewBag.password" />
                @Html.ValidationMessageFor(model => model.password)
                <p style="color:darkred">@ViewBag.ErrorPassword</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" class="form-control" readonly="readonly" name="phoneNumber" value="@ViewBag.phoneNumber" />
                @Html.ValidationMessageFor(model => model.phoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="text" class="form-control" readonly="readonly" name="address" value="@ViewBag.address" />
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
